.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  position: absolute;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  width: 375px;
  height: 284px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal__content {
  padding: 20px;
}

.section {
  position: relative;
}

.close__icon--container {
  position: absolute;
  background-color: #ffffff;
  padding: 1rem;
  bottom: 205px;
  left: 290px;
  border-radius: .5rem;
  border: 2px solid #dfdfdf;
}

.close__icon--container:hover {
  cursor: pointer;
  background-color: #FF6961;
  border: 2px solid #ff4339;
  transition: 0.3s;
}

.section__h2 {
  color: #101111;
  text-align: start;
  font-size: 2.04rem;
  font-style: normal;
  font-weight: 700;
  line-height: 28.72px;
  margin-bottom: 1rem;
}

.section__container--product {
  display: flex;
  padding: 1.5rem 0;
  justify-content: space-between;
}

.section__container--product input {
  width: 2.4rem;
  height: 2.4rem;
}

.section__container--product input:hover {
  cursor: pointer;
}

.modal__footer {
  background-color: #F4F4F4;
  width: 375px;
  padding: 12px 20px;
  margin-top: auto;
}

.modal__buttons--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  height: 4rem;
}


.modal__clear--button {
  color: #101111;
  text-align: center;
  font-size: 1.416rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20.03px;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  opacity: 0.5;
  background: #FFF;
}

.modal__button--enable {
  color: #101111;
  font-weight: 700;
  font-size: 1.416rem;
  font-style: normal;
  text-align: center;
  line-height: 2.03rem;
}

.modal__filter--button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  color: #FFF;
  text-align: center;
  font-size: 1.416rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20.03px;
  padding: 7.5px 21px;
  border-radius: 4px;
  cursor: default
}

.modal__filter--button:hover {
  background-color: rgb(16, 16, 255);
  cursor: pointer;
  transition: 0.3s;
}