.main {
  width: 100%;
}

.product__general--title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  height: 10rem;
}

.product__list--container {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 3rem;
}

.product__list--container {
  @media (width > 1024px) {
    grid-template-columns: repeat(4, 1fr);
    width: 65vw;
    margin: 0 auto;
  }
}

.product__container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #E6E6E6;
  height: 312px;
  width: 150px;
  border-radius: .5rem;
}

.product__info {
  flex: 1;
  gap: 1px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

.product__image {
  width: 137px;
  height: 140px;
  flex-shrink: 0;
}

.product__name {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.1rem;
  color: var(--dark-gray);
}

.product__description {
  color: #6D7275;
  font-size: 1.1rem;
}

.product__price {
  display: flex;
  width: 70px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  color: #101111;
  font-size: 14.16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.03px;
}

.product__button-container {
  display: flex;
  width: 100%;
}

.product__button {
  border: 1px solid #E6E6E6;
  border-radius: 0px 0px 4px 4px;
  background-color: #F4F4F4;
  color: var(--blue);
  padding: 0.5rem 0;
  font-size: 1.416rem;
  font-weight: 600;
  line-height: 2.03rem;
  text-align: center;
  flex: 1;
}

.product__button:hover {
  cursor: pointer;
  background-color: var(--blue);
  color: #ffffff;
  transition: 0.3s;
}

.continue__shopping--container {
  display: flex;
  height: 7.2rem;
  width: 83vw;
  border-radius: .5rem;
  border: 1px solid #E6E6E6;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 4rem 3.5rem auto;
}

.continue__shopping--container {
  @media (width > 1024px) {
    width: 61vw;
    margin: 3rem auto;
  }
}

.continue__shopping--p {
  color: #101111;
  font-size: 1.18rem;
  font-style: normal;
  font-weight: 400;
  line-height: 15.69px;
}

.continue__shopping--h3 {
  color: #101111;
  font-size: 2.448rem;
  font-style: normal;
  font-weight: 700;
  line-height: 31.86px;
}