:root {
  // fonts
  --font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --principal-heading: 2.20313rem;
  --product-title: 0.875rem;
  --product-text: 0.6875rem;
  --product-price: 0.885rem;
  --product-text-button: 0.885rem;
  --footer-heading: 0.885rem;
  --footer-text: 0.7375rem;
  --footer-buttons: 0.7375rem;

  // colors
  --white: ##FFFFFF;
  --blue: #0000A3;
  --ligth-gray: #FDFDFA;
  --dark-gray: #0F0F0F;
}